
<label>Name</label>
<input id="userName" name="student[name]" size="30" type="text" placeholder="name">
<label>Email</label>
<input id="userEmail" name="user[email]" size="30" type="text" placeholder="email">
<input name="user-submit" id="user-button" type="button" value="USER">

<div id="notice">

</div>

<div id="map-canvas">

</div>
<input name="drop-pin" id="drop-pin" type="button" value="Drop Pin">
