<div id="notice" style="display:none;"></div>
<form id="createUser">
  <input type="text" placeholder="Name">
  <input type="text" placeholder="Email">
  <input type="submit">
</form>
<button id="drop-pin">Drop Pin</button>
<div id="map-canvas"></div>
