%script#exercises-template{type:"text/x-handlebars-template"}
  %ul
    {{#each exercises}}
    %li.exercise{data: {id: "{{id}}" }}
      %div
        %strong {{name}} <span id="{{id}}">X</span>
    {{/each}}
