.pink {
  background-color: #FACADE;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}