<section id="space">
  <article class= "starship" id="enterprise"><img src="assets/enterprise.jpeg">
  </article>
  <div id="info"></div>
  <div id="info2"></div>
</section>

<section id="vulcan" class="planet">
  <img src="assets/vulcan.jpeg">
  <p class="vulcan" id="sarek"></p>
  <p class="vulcan" id="skon"></p>
  <p class="vulcan" id="solkar"></p>
  <p class="vulcan" id="sybok"></p>
</section>

<script src="assets/welcomeIndex.js"></script>