<h1>Marauder</h1>

<form>
  <label for="">name</label>
  <input type="text" name = "name">
  <label for="">email</label>
  <input type="text" name = "email">
  <button>Submit</button>
</form>

<div id = "notice">

</div>

<div id = "map-canvas">

</div>
<br>
<button id="drop-pin">Drop Pin</button>