%h1 Git Fit
#exercises
#detail

= render partial: 'exercise'
= render partial: 'detail'
/ = render partial: 'workouts'


/ thiswill have a button that takes you to /exercises/workout that gives you 3 random workouts and the total calories burned
/ create a partial called _workouts.html.haml that renders the 3 random workouts
/ create a workouts.js file in views
#workouts
