<h1>Map Tracker</h1>

<input type = "text" id = "name" placeholder = "Name"></input>
<input type = "text" id = "email" placeholder = "Email"></input>
<input type = "submit" id = "submit" value = "Submit"></input>

<div id = "notice"></div>
<div id = "map-canvas"></div>
