<select name="travel_class">
  <option value="first class">First Class</option>
  <option value="second class">Second Class</option>
  <option value="third class">Third Class</option>
</select>
<button>Get Random Passenger</button>
<ul id="passengers"></ul>
