<h1>Marauder</h1>

<!-- Should have a div with an id of notice -->
<div id="notice"> </div>

<!-- Should have a form element with text inputs for name and email and a submit button -->

<div class="form">
  <form id="users-form">
    <input name="name" type="text" placeholder="name">
    <input name="email" type="text" placeholder="email">
   <button id="add-user">Submit</button>
  </form>
</div>

<button id="drop-pin">Drop pin </button>


<!-- Add a map, div with an id of map-canvas to welcome#index -->

<div id="map-canvas">Google map

</div>




