<h1>maps</h1>

<div id="notice">
  
</div>

<div id="map-canvas">
  
</div>

<button id="drop-pin">drop pin</button>

<form action="" method="" accept-charset="utf-8">
  <label for="user[name]">name</label>
  <input type="text" name="user[name]" value="" id="name">

  <label for="user[email]">email</label>
  <input type="text" name="user[email]" value="" id="email">


<p><input type="submit" value="Continue &rarr;"></p>
</form>

