<div id="notice"></div>
<div id="map-canvas"></div>

<form>
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placeholder="email">
  <input type="submit" value="Create">
</form>

<button>Add Marker</button>
