<div id="zoo">
  <h1>Hello and Welcome to the Zoo.</h1>
  <button>Make Animal</button>
  <input id="myAnimal" type="text"></input>
  <ul id="animals"></ul>
</div>

<script id="entry-template" type="text/x-handlebars-template">
  <h1 class="animal"> {{ name }} </h1>
</script>



