<!-- <div id="tododo">
<h1 class="titlez">Maintain yr sanity, make a todo list.</h1>
  <button>Add a task, jerk</button>
  <input id="myTask" type="text"></input>
  <ul id="dothisstuff"></ul>
</div> -->

<section id="todoapp">
<header id="header">
  <h1>Todos</h1>
  <input id="new-todo" placeholder="What needs to be done?">
</header> <section id="main">
<ul id="todo-list-item"></ul>
</section> </section>

<script id="header-item" type="text/x-handlebars-template">
  <li class="todo-list-item"> {{ item }} </li>
</script>

