

<h2>This is your message list.</h2>

<form id='user-form'>
  <input type='text' id='user-sender-input' placeholder='sender'/>
  <input type='text' id='user-note-input' placeholder='note' />
  <input type='submit' />
</form>

<ul id='my-message-list'>
</ul>
