<div>
    <form>
      Name: <input type="text" name="name"><br>
      Email:  <input type="text" name="email" ><br>
      <input type="submit">
    </form>
</div>

<div id='map-canvas'>
</div>

<input id='drop-pin' type="button" name="DROP DA PIN" value="DROP DA PIN">

<!-- <div id="notice">
  Created USERNAME
</div> -->
