<!DOCTYPE html>
<html>
<head>
  <title>MarauderApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>This layout view is working</p>

<%= yield %>
  <script type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GOOGLE_API_KEY'] %>&sensor=true">
  </script>
  <%= javascript_include_tag "application" %>
</body>
</html>
