%script#exercises-template{type:"text/x-handlebars-template"}
  %ul
    {{#each exercises}}
    %li.exercise{data: {id: "{{id}}" }}
      %div
        %strong {{name}}
        %a.delete-button{href: "#", data: {id: "{{id}}"}} X

    {{/each}}
