%h1#haml-time HAML Time

%ul
  %li
    %a.banana#ripe

%nav
  %ul
    %li
      %a{href:"/quiz"} quiz

%section
  %article.one

%table
  %thead
    %tr.first
  %tbody
    %tr
      %td hearts
      %td moons
      %td stars

%form
  %input{type: 'checkbox'}
  %label{for: 'fave_cereal'}
  %select#fave_cereal

%footer
