<h1>Add owner to a kitten</h1>

<form action="/owner" method="post">
<label for="owner_name">Owner's name</label>
<input type="text" name="owner_name" id="name"><br>
<input type="submit" value="submit">
</form>


