<section id="todoapp">
  <header id="header">
    <h1>Todos</h1>
    <input id="new-todo" placeholder="What needs to be done?">
  </header>
  <section id="main">
    <ul id="todo-list"></ul>
  </section>
</section>
<script id="todo-tmp" type="text/x-handlebars-template">
  <h1>{{ name }}</h1>
</script>
