%script#new-ex-template{ type: "text/x-handlebars-template"}
  %form
    %input#new-ex-name{type: 'text', placeholder: 'Name'}
    %input#new-ex-calories{type: 'text', placeholder: 'Calories'}
    %input#new-ex-difficulty{type: 'text', placeholder: 'Difficulty'}
    %input#new-ex-button{type: 'submit'}