<h1>Hello</h1>

<form>
  <input id="name-input" type="text" name="name" placeholder="Name">
  <input id="email-input" type="text" name="email" placeholder="Email">
  <input id="submit" type="submit">
</form>

<div id="notice"></div>

<div id="map-canvas"></div>

<button id="drop-pin">Just a Button, no biggie</button>