%script#exercises-template{type:"text/x-handlebars-template"}
  %button#new-exercise New
  %ul
    {{#each exercises}}
    %li.exercise{data: {id: "{{id}}" }}
      %div
        %strong {{name}}
        %button.delete X
    {{/each}}
