%script#new-exercise-template{ type: "text/x-handlebars-template"}
  %form
    %label{for: 'exercise_name'} Name
    %input#exercise_name{type: 'text'}
    %label{for: 'exercise_calories'} Calories
    %input#exercise_calories{type: 'number'}
    %label{for: 'exercise_difficulty'} Difficulty
    %input#exercise_difficulty{type: 'number'}
    %input{type: 'submit'}
