.pink {
  background-color: pink;
}


.turquoise {
  background-color: #1abc9c;
}

.emerald {
  background-color: #2ecc71;
}

.peter {
  background-color: #3498db;
}

.amethyst {
  background-color: #9b59b6;
}