%script#random-template{type:"text/x-handlebars-template"}
  %ul
    {{#each exercises}}
    %li.exercise{data: {id: "{{id}}" }}
      %div
        %strong {{name}}
        Calories: {{calories}}
        Difficulty: {{difficulty}}
    {{/each}}
