<%= flash[:thanks] %>
<%= flash[:registered_guest] %>

<h1 id="about_us">About Us</h1>

<img src="overlook.png" alt="The Overlook Hotel">

<form action="/entries" method="post">
  <label for="guestbook">Guestbook</label>
  <input type="text" id="guestbook" name="message">
  <input type="submit" value="Sign Guestbook">
</form>

<% @entries.each do |entry| %>
  <%= entry.message %>
<% end %>

<!-- <!-- <!-- <form id="guestbook" method="post" action="/">
  <input type="text" />
  <input type="submit" value-""
</form>
 -->
