<h1>Registration Form<h1>

<div id="notice"></div>

<form id="register-form">
  <label for="registered_guest">Name</label>
  <input type="text" id="registered_guest" name="name">
  <input type="submit" value="Register">
</form>
