%h1 Git Fit
/ displays divs with those ids
#exercises
#detail
#newForm
/ brings in partial not to clutter the index file
= render partial: 'exercise'
= render partial: 'detail'
= render partial: 'new'
