<div>
<form>
  Name<input type="text" name="name"><br />
  Email<input type="text" name="email"><br />
  <input type="submit">

</form>
</div>


<div id="notice"></div>

<div id="map-canvas"></div>

<button id="drop-pin">Drop Pin</button>
